* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.home,
.biografia,
.categorias,
.sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}


.biografia {
    background-image: url('./Components/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f9f9f9;
    font-size: 100px;
}

.categorias {
    background-image: url('./Components/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}
.sign-up {
    background-image: url('./Components/images/img-3.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}